oim-core/src/main/resources/salesmachine/oim/suppliers/el-order-response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="XML_Orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Success" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Error" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>