oim-core/src/main/resources/salesmachine/oim/stores/shop.com/cc_order_response.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<!--
-->
	
	<xsd:element name = "CC_TRANSMISSION_RESPONSE">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ORDER"/>
				<xsd:element ref = "STATUS"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ORDER">
		<xsd:complexType>
			<xsd:attribute name = "ALTURA_CATALOG_ID" type = "xsd:string"/>
			<xsd:attribute name = "ALTURA_INVOICE_NO" type = "xsd:string"/>
			<xsd:attribute name = "ALTURA_PURCHASE_NO" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "STATUS">
		<xsd:complexType>
			<xsd:attribute name = "STATUS_CODE" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "MESSAGE" use = "required" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>