cm-rest/src/main/resources/cc_order_status.xsd

<?xml version = "1.0" encoding = "ISO-8859-1"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"><!-- An Order Status Transmission coming from a Merchant should contain a CatalogID and Date. If the Order Status is
coming from a Transhipper, the CatalogID may be null.  The CatalogID would have to be determined, using the Trans_Shipment_ID when the data is processed.
When using this file, all Text Data should be wrapped in CDATA to avoid issues parsing special characters and any escape characters.

      ADI_OS_HEADER - These attributes appear one time in each file
                  CATALOGID  - a valid Altura Catalog ID
                  DATE_TIME_STAMP - the date and time the file was created must be mm/dd/yyyy hh:mm:ss AM
      ADI_OS_STATUS - These Atributes must have at least one valid value and can have one or more entries
                  ADI_OS_INVOICE_NUM - The Altura invoice number.
                  MERCHANT_ORDER_NUM - The Merchant's Order ID.
                  TRANS_SHIPMENT_ID - The Transshipment ID that Altura generated.
                  ADI_OS_ORDER_STATUS_DETAIL - The Attributes can have one or more entries
                                 PURCHASE_ID - The Altura purchase ID.
                                 SHIP_DATE - The Merchant's Ship Date, must be mm/dd/yyyy
                                 EST_SHIP_DATE - The Merchant's Estimated Ship Date, must be mm/dd/yyyy
                                 SHIP_METHOD - The Merchant's Ship Method. Must correspond to the string values in the Altura database, i.e., UPS, FED EX, etc.
                                 CARRIER_TRACKING_NUM - The Shipper's tracking number and is supplied by the Merchant or the Transhipper.
                                 BILLABLE_AMOUNT - The billable change must be entered without special charcters ($), i.e., 59.99.
                                 NONBILLABLE_AMOUNT - The nonbillable change must be entered without special charcters ($), i.e., 59.99.
                                 INTERNAL_STATUS -The Internal Status is a numeric code that corresponds to codes in the Altura database.
                                 EXTERNAL_STATUS  - The External Status is a numeric code that corresponds to codes in the Altura database.
                                 SEND_EMAIL_TO_SHOPPER_FLAG - This flag dictates whether email is sent to the shopper.
								 WEIGHT - The weight of a package, requested by transhipper.
								 SIZE - The size of a package, requested by transhipper.
								 QTY_CHANGE - The Line Item quantity changes.
                                 PRINCIPAL_ADJUSTMENT - Line Item product amount.
								 TAX_ADJUSTMENT - Tax change amount.
								 SHIPPING_ADJUSTMENT -  Shipping/Handling change amount.
								 INTERNAL_TEXT - The Internal Text  is string value that will take precedence over the internal status.
				 				 EXTERNAL_TEXT - The External Text  is string value that will take precedence over the internal status.
				 INTERNAL_TEXT - The Internal Text  is string value that will take precedence over the internal status.
				 EXTERNAL_TEXT - The External Text  is string value that will take precedence over the internal status.
 -->
	<xsd:element name = "ADI_OS_ORDER_STATUS_TRANSMISSION">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ADI_OS_HEADER"/>
				<xsd:element ref = "ADI_OS_STATUS" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ADI_OS_HEADER">
		<xsd:complexType>
			<xsd:attribute name = "CATALOGID" use = "required" type = "xsd:string"/>
			<xsd:attribute name = "DATE_TIME_STAMP" use = "required" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ADI_OS_STATUS">
		<xsd:complexType>
			<xsd:choice maxOccurs = "unbounded">
				<xsd:element ref = "ADI_OS_ORDER_STATUS_DETAIL"/>
				<xsd:element ref = "INTERNAL_TEXT"/>
				<xsd:element ref = "EXTERNAL_TEXT"/>
			</xsd:choice>
			<xsd:attribute name = "INVOICE_NUM" type = "xsd:string"/>
			<xsd:attribute name = "MERCHANT_ORDER_NUM" type = "xsd:string"/>
			<xsd:attribute name = "TRANS_SHIPMENT_ID" type = "xsd:string"/>
			<xsd:attribute name = "AMAZON_ORDER_ID" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ADI_OS_ORDER_STATUS_DETAIL">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attribute name = "PURCHASE_ID" type = "xsd:string"/>
					<xsd:attribute name = "SHIP_DATE" type = "xsd:string"/>
					<xsd:attribute name = "EST_SHIP_DATE" type = "xsd:string"/>
					<xsd:attribute name = "SHIP_METHOD" type = "xsd:string"/>
					<xsd:attribute name = "CARRIER_TRACKING_NUM" type = "xsd:string"/>
					<xsd:attribute name = "BILLABLE_AMOUNT" type = "xsd:string"/>
					<xsd:attribute name = "NONBILLABLE_AMOUNT" type = "xsd:string"/>
					<xsd:attribute name = "INTERNAL_STATUS" type = "xsd:string"/>
					<xsd:attribute name = "EXTERNAL_STATUS" type = "xsd:string"/>
					<xsd:attribute name = "SEND_EMAIL_TO_SHOPPER_FLAG" default = "N">
						<xsd:simpleType>
							<xsd:restriction base = "xsd:NMTOKEN">
								<xsd:enumeration value = "Y"/>
								<xsd:enumeration value = "N"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name = "WEIGHT" type = "xsd:string"/>
					<xsd:attribute name = "SIZE" type = "xsd:string"/>
					<xsd:attribute name = "QTY_CHANGE" type = "xsd:string"/>
					<xsd:attribute name = "PRINCIPAL_ADJUSTMENT" type = "xsd:string"/>
					<xsd:attribute name = "TAX_ADJUSTMENT" type = "xsd:string"/>
					<xsd:attribute name = "SHIPPING_ADJUSTMENT" type = "xsd:string"/>
					<xsd:attribute name = "INTERNAL_TEXT" type = "xsd:string"/>
					<xsd:attribute name = "EXTERNAL_TEXT" type = "xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "INTERNAL_TEXT" type = "xsd:string"/>
	<xsd:element name = "EXTERNAL_TEXT" type = "xsd:string"/>
</xsd:schema>