cm-rest/src/main/resources/ccorder.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
<!--CC_TRANSMISSION 
	CATALOG_ID - the merchants catalogid assigned by SHOP.COM
	NUMBER_OF_ORDERS - number of orders in this xml stream
	    CC_ORDER 
		AMAZON_NO= Amazon assigned order number
		INVOICE_NO - SHOP.COM assigned invoice number
		IP_ADDRESS - shopper's ip address
		MAYBEBOGUS - if we think this order might be bogus; values are TRUE/FALSE
		ORDER_NO - SHOP.COM's order number
	      PAYMENT_METHOD
		CREDIT_CARD
			CC_TYPE - type of credit card; value base on Merchant;Delta/Bank Transfer/COD/Solo/American Express/
Carte Blanche/Check/Money Order/Diner's Club/Discover/MasterCard/Other/Purchase Order/Visa/JCB/Lerner New York/Hammacher Schlemmer Card/
Bombay/Switch/Carte Bleue/Open Invoice/Roaman's/King Size/Lane Bryant/Brylane Home/Bank Account/COD w/Delivery Date/J. Jill/
Chadwick's of Boston/Pay Pal/Amazon Special/Market America COD/Maestro/Ritz VISA
 
			CC_NUMBER - credit card number
			CC_EXPIRATION - expiration MM/dd/yy
			CC_NAMEONCARD - shopper's name
			CC_SECURITY_NUMBER - CVV number
			CC_ISSUING_BANK - Bank Name
			CC_ISSUE_NUMBER - Bank Issue number
	      BANK_TRANSER
			ACCOUNT_HOLDER_NAME - name
			ACCOUNT_NUMBER - account number
			CC_ISSUING_BANK - Bank Issue number
	      BANK_ACCOUNT
			ACCOUNT_HOLDER_NAME - name
			ACCOUNT_NUMBER - account number
			CC_ISSUING_BANK - Bank Issue number
	      COD
			ACCOUNT_HOLDER_NAME - name
	      COD_WITH_DELIBERY_DATE
			ACCOUNT_HOLDER_NAME - name
			DELIVERY_DATE - delivery date
	      BILLING_LABEL
		 CUSTOMER 
			OK_CONTACT - shopper has agreed to be contacted; TRUE/FALSE 
			OK_RENT - shopper has agreed to allow merchant to share their email address; TRUE/FALSE 
			  CU_CUSTOMER_ID - SHOP.COM's shopper ID
				CU_FIRST_NAME - shopper's first name
				CU_LAST_NAME - shopper's last name
				CU_COMPANY - company name
				CU_PHONE- phone number (we currently do not validate this format)
				CU_EMAIL - shopper's email address
				CU_SHOPPER_ID - SHOP.COM's shopper ID
				CU_NAME_PREFIX - shopper's name prefix
				CU_DATE_OF_BIRTH - shopper's date of birth; Month dd, yyyy

			ADDRESS 
			    IS_INTERNATIONAL - is address international; TRUE/FALSE
				AD_ADDRESS1 - street adress
				AD_CITY - city
				AD_STATE - state
				AD_COUNTRY - country
				AD_PROVINCE - region
				AD_ZIP - zip; not validated
				AD_FLAT - flat address
				AD_ADDRESS2 - street2 address
				AD_COUNTRY_CODE - 2 digit ISO country code
				AD_COMPANY - company name
		TOTALS
			TL_ORDER_DATE - date-time order was taken; mm/dd/yyyy hh:mm a
			TL_SUBTOTAL - subtotal of order; $119.95
			TL_TAX - tax on order; $1.00
			TL_SHIPPING> - shipping on order; $5.00
			TL_EXCISETAX - recycle tax; $7.00
			TL_TOTAL - total of order; $132.00
			TL_TAX_RATE - sales tax rate; 2.25
		ITEMS
			ITEM 
				IT_PURCHASE_ID - SHOP.COM's line item ID
				IT_SKU - merchant's SKU
				IT_QUANTITY - quantity ordered
				IT_UNIT_PRICE - item price; $119.95
				IT_SUB_TOTAL - item subtotal; $119.95
				IT_VID - item volume ID; 226727
				SPECIAL_INSTRUCTIONS
				  SPECIAL_INSTRUCTION
					SI_TYPE - description; Style
					SI_PROMPT - UI prompt; Font
					SI_VALUE - UI selection option; Cursive					 
				IT_DESCRIPTION - item description
				PAGE_NUMBER - catalog page number reference
				IT_SOURCECODE - merchant specified
				IT_TAX - future field
				IT_SHIPPING - future field
				IT_TRACK_NO - 
				IT_EXTENDED_EXCISE_TAX - extended item recycle tax; $7.00
		SHIPPING_LABEL
		    CUSTOMER 
			OK_CONTACT - shopper has agreed to be contacted; TRUE/FALSE 
			OK_RENT - shopper has agreed to allow merchant to share their email address; TRUE/FALSE 
			  CU_CUSTOMER_ID - SHOP.COM's receiptient's ID
				CU_FIRST_NAME - receiptient's first name
				CU_LAST_NAME - receiptient's last name
				CU_COMPANY - company name
				CU_PHONE- phone number (we currently do not validate this format)
				CU_EMAIL - receiptient's email
				CU_SHOPPER_ID - receiptient's shopper ID
				CU_NAME_PREFIX - receiptient's name prefix
				CU_DATE_OF_BIRTH - receiptient's date of birth; Month dd, yyyy

			ADDRESS 
			    IS_INTERNATIONAL - is address international; TRUE/FALSE
				AD_ADDRESS1 - street adress
				AD_CITY - city
				AD_STATE - state
				AD_COUNTRY - country
				AD_PROVINCE - region
				AD_ZIP - zip; not validated
				AD_FLAT - flat address
				AD_ADDRESS2 - street2 address
				AD_COUNTRY_CODE - 2 digit ISO country code
				AD_COMPANY - company name
			SL_METHOD - ship method; see xsd for valid values
		GIFT_CARD
			GF_FROM - from
			GF_TO - to
			GF_DELIV_DATE - delivery date; mm/dd/yy
			GF_MESSAGE - message
			GF_GREETING - greeting
		MULTIPLE_PAYMENTS_QTY - if more than one payment type or 0
		SHOPPER_COMMENTS - comments

		(These are merchant specific fields)
		MISCELLANEOUS (DISTRIBUTION_ID, MERCHANT_SHOPPER_ID, WEB_ID, PC_ID, AFFIL_ID)

-->
	<xsd:element name = "CC_TRANSMISSION">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "CC_ORDER" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "CATALOG_ID" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "NUMBER_OF_ORDERS" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>

		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "CC_ORDER">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "PAYMENT_METHOD"/>
				<xsd:element ref = "BILLING_LABEL"/>
				<xsd:element ref = "TOTALS"/>
				<xsd:element ref = "ITEMS" maxOccurs = "unbounded"/>
				<xsd:element ref = "SHIPPING_LABEL" minOccurs = "0"/>
				<xsd:element ref = "GIFT_CARD" minOccurs = "0"/>
				<xsd:element ref = "MULTIPLE_PAYMENTS_QTY" minOccurs = "0"/>
				<xsd:element ref = "SHOPPER_COMMENTS" minOccurs = "0"/>
				<xsd:element ref = "MISCELLANEOUS" minOccurs = "0"/>
			</xsd:sequence>
			<xsd:attribute name = "INVOICE_NO" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "ORDER_NO" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "MAYBEBOGUS" use="optional">
				<xsd:simpleType>
					<xsd:list>
						<xsd:simpleType>
							<!-- "true" or "false" -->
							<xsd:restriction base = "xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:list>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "AMAZON_NO" use="optional">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "IP_ADDRESS" use="optional">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "SHOPPER_COMMENTS">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "255"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "MULTIPLE_PAYMENTS_QTY">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "PAYMENT_METHOD">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref = "CREDIT_CARD"  minOccurs = "0"/>
				<xsd:element ref = "BANK_TRANSFER"  minOccurs = "0"/>
				<xsd:element ref = "BANK_ACCOUNT"  minOccurs = "0"/>
				<xsd:element ref = "COD"  minOccurs = "0"/>
				<xsd:element ref = "COD_WITH_DELIVERY_DATE" minOccurs = "0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "BANK_TRANSFER">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ACCOUNT_HOLDER_NAME"  minOccurs = "0"/>
				<xsd:element ref = "ACCOUNT_NUMBER"  minOccurs = "0"/>
				<xsd:element ref = "CC_ISSUING_BANK"  minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "BANK_ACCOUNT">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ACCOUNT_HOLDER_NAME" minOccurs = "0"/>
				<xsd:element ref = "ACCOUNT_NUMBER" minOccurs = "0"/>
				<xsd:element ref = "CC_ISSUING_BANK" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "COD">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ACCOUNT_HOLDER_NAME"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "COD_WITH_DELIVERY_DATE">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ACCOUNT_HOLDER_NAME" minOccurs = "0"/>
				<xsd:element ref = "DELIVERY_DATE" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ACCOUNT_HOLDER_NAME">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "255"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "ACCOUNT_NUMBER">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "255"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "DELIVERY_DATE">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "35"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "CREDIT_CARD">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "CC_TYPE"/>
				<xsd:element ref = "CC_NUMBER"  minOccurs = "0"/>
				<xsd:element ref = "CC_EXPIRATION"  minOccurs = "0"/>
				<xsd:element ref = "CC_NAMEONCARD"  minOccurs = "0"/>
				<xsd:element ref = "CC_SECURITY_NUMBER" minOccurs = "0"/>
				<xsd:element ref = "CC_ISSUING_BANK" minOccurs = "0"/>
				<xsd:element ref = "CC_ISSUE_NUMBER" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "CC_TYPE">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:enumeration value = "American Express"/>
				<xsd:enumeration value = "Carte Blanche"/>
				<xsd:enumeration value = "Check/Money Order"/>
				<xsd:enumeration value = "Diner's Club"/>
				<xsd:enumeration value = "Discover"/>
				<xsd:enumeration value = "MasterCard"/>
				<xsd:enumeration value = "Other"/>
				<xsd:enumeration value = "Purchase Order"/>
				<xsd:enumeration value = "Visa"/>
				<xsd:enumeration value = "JCB"/>
				<xsd:enumeration value = "Lerner New York"/>
				<xsd:enumeration value = "Hammacher Schlemmer Card"/>
				<xsd:enumeration value = "Bombay"/>
				<xsd:enumeration value = "Switch"/>
				<xsd:enumeration value = "Delta"/>
				<xsd:enumeration value = "Bank Transfer"/>
				<xsd:enumeration value = "COD"/>
				<xsd:enumeration value = "Solo"/>
				<xsd:enumeration value = "Carte Bleue"/>
				<xsd:enumeration value = "Open Invoice"/>
				<xsd:enumeration value = "Roaman's"/>
				<xsd:enumeration value = "King Size"/>
				<xsd:enumeration value = "Lane Bryant"/>
				<xsd:enumeration value = "Brylane Home"/>
				<xsd:enumeration value = "Bank Account"/>
				<xsd:enumeration value = "COD w/Delivery Date"/>
				<xsd:enumeration value = "J. Jill"/>
				<xsd:enumeration value = "Chadwick's of Boston"/>
				<xsd:enumeration value = "Pay Pal"/>
				<xsd:enumeration value = "Amazon Special"/>
				<xsd:maxLength value = "255"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "CC_NUMBER">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "500"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "CC_EXPIRATION">
		<xsd:simpleType>
			<!-- format can be mm/yy or mm/dd/yy depending on vendor -->
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "35"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "CC_SECURITY_NUMBER">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "CC_NAMEONCARD">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "255"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "CC_ISSUING_BANK">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "CC_ISSUE_NUMBER">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "CUSTOMER">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "CU_CUSTOMER_ID" minOccurs = "0"/>
				<xsd:element ref = "CU_FIRST_NAME_FURIGANA" minOccurs = "0"/>
				<xsd:element ref = "CU_LAST_NAME_FURIGANA" minOccurs = "0"/>
				<xsd:element ref = "CU_FIRST_NAME"/>
				<xsd:element ref = "CU_LAST_NAME"/>
				<xsd:element ref = "CU_COMPANY" minOccurs = "0"/>
				<xsd:element ref = "CU_PHONE" minOccurs = "0"/>
				<xsd:element ref = "CU_EMAIL" minOccurs = "0"/>
				<xsd:element ref = "CU_SHOPPER_ID" minOccurs = "0"/>
				<xsd:element ref = "CU_SHOPPER_FLAGS" minOccurs = "0"/>
				<xsd:element ref = "CU_NAME_PREFIX" minOccurs = "0"/>
				<xsd:element ref = "CU_DATE_OF_BIRTH" minOccurs = "0"/>
			</xsd:sequence>
			<xsd:attribute name = "OK_RENT" use="optional">
				<xsd:simpleType>
					<!-- "true" or "false" -->
					<xsd:restriction base = "xsd:string">
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "OK_CONTACT" use="optional">
				<xsd:simpleType>
					<!-- "true" or "false" -->
					<xsd:restriction base = "xsd:string">
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "CU_SHOPPER_ID">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "CU_CUSTOMER_ID">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "25"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "CU_SHOPPER_FLAGS">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "CU_SHOPPER_FLAG" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "CU_FIRST_NAME_FURIGANA">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "64"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "CU_LAST_NAME_FURIGANA">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "64"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "CU_FIRST_NAME">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "CU_LAST_NAME">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "64"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "CU_COMPANY">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "CU_PHONE">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "CU_EMAIL">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "100"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "CU_NAME_PREFIX">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "16"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "CU_DATE_OF_BIRTH">
		<xsd:simpleType>
			<!-- format is month_string dd, yyyy -->
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "25"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>

	<xsd:element name = "CU_SHOPPER_FLAG">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attribute name = "FLAG_TYPE_ID" type = "xsd:string" use="optional"/>
					<xsd:attribute name = "FLAG_VALUE" type = "xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "BILLING_LABEL">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "CUSTOMER"/>
				<xsd:element ref = "ADDRESS"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "SHIPPING_LABEL">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "CUSTOMER"/>
				<xsd:element ref = "ADDRESS"/>
				<xsd:element ref = "SL_METHOD"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "SL_METHOD">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:enumeration value = "Standard"/>
				<xsd:enumeration value = "2-3 Day"/>
				<xsd:enumeration value = "Next Day"/>
				<xsd:enumeration value = "2 Day"/>
				<xsd:enumeration value = "Express"/>
				<xsd:enumeration value = "Saturday"/>
				<xsd:enumeration value = "Sunday"/>
				<xsd:enumeration value = "PO Boxes"/>
				<xsd:enumeration value = "Insured 2-Day Air"/>
				<xsd:enumeration value = "Standard - No Charge"/>
				<xsd:enumeration value = "Free Air Ship"/>
				<xsd:enumeration value = "Free Express"/>
				<xsd:enumeration value = "Insured Delivery"/>
				<xsd:enumeration value = "Freight Delivery"/>
				<xsd:enumeration value = "Super Saver"/>
				<xsd:enumeration value = "In-Home"/>
				<xsd:enumeration value = "Oversized"/>
				<xsd:enumeration value = "Express Mail"/>
				<xsd:enumeration value = "Economy"/>
				<xsd:enumeration value = "Priority Delivery"/>
				<xsd:enumeration value = "Priority Mail"/>
				<xsd:enumeration value = "White Glove"/>
				<xsd:enumeration value = "3 Day"/>
				<xsd:enumeration value = "Drop Ship"/> 				
				<xsd:maxLength value = "50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "ADDRESS">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "AD_ADDRESS1"/>
				<xsd:element ref = "AD_CITY"/>
				<xsd:element ref = "AD_STATE"/>
				<xsd:element ref = "AD_COUNTRY"  minOccurs = "0"/>
				<xsd:element ref = "AD_PROVINCE" minOccurs = "0"/>
				<xsd:element ref = "AD_ZIP" minOccurs = "0"/>
				<xsd:element ref = "AD_FLAT" minOccurs = "0"/>
				<xsd:element ref = "AD_ADDRESS2" minOccurs = "0"/>
				<xsd:element ref = "AD_COUNTRY_CODE" minOccurs = "0"/>
				<xsd:element ref = "AD_COMPANY" minOccurs = "0"/>
			</xsd:sequence>
			<xsd:attribute name = "IS_INTERNATIONAL" use = "required">
				<xsd:simpleType>
					<!-- "true" or "false" -->
					<xsd:restriction base = "xsd:string">
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "AD_ADDRESS1">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "200"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "AD_ADDRESS2">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "100"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "AD_CITY">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "AD_STATE">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "100"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "AD_PROVINCE">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "AD_ZIP">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "20"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "AD_COMPANY">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "AD_COUNTRY">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "AD_COUNTRY_CODE">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "AD_FLAT">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "TOTALS">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "TL_ORDER_DATE"/>
				<xsd:element ref = "TL_SUBTOTAL"/>
				<xsd:element ref = "TL_TAX" minOccurs = "0"/>
				<xsd:element ref = "TL_SHIPPING" minOccurs = "0"/>
				<xsd:element ref = "TL_EXCISETAX" minOccurs = "0"/>
				<xsd:element ref = "TL_TOTAL"/>
				<xsd:element ref = "TL_TAX_RATE" minOccurs = "0"/>
				<xsd:element ref = "CC_DISCOUNTS" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "TL_ORDER_DATE">
		<xsd:simpleType>
			<!-- mm/dd/yyyy hh:mm AM -->
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "25"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "TL_TAX">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "TL_SUBTOTAL">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "TL_SHIPPING">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "TL_EXCISETAX">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "TL_TOTAL">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "15"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "TL_TAX_RATE">
		<xsd:simpleType>
			<!-- nn.nn -->
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "CC_DISCOUNTS">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "CC_DISCOUNT" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "CC_DISCOUNT">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "DISCOUNT_CODE"/>
				<xsd:element ref = "DISCOUNT_AMOUNT"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "DISCOUNT_CODE">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "255"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "DISCOUNT_AMOUNT">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "GIFT_CARD">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "GF_FROM" minOccurs = "0"/>
				<xsd:element ref = "GF_TO" minOccurs = "0"/>
				<xsd:element ref = "GF_DELIV_DATE" minOccurs = "0"/>
				<xsd:element ref = "GF_MESSAGE" minOccurs = "0"/>
				<xsd:element ref = "GF_GREETING" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "GF_FROM">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "255"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "GF_TO">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "400"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "GF_DELIV_DATE">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "25"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "GF_MESSAGE">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "4000"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "GF_GREETING">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "1000"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "ITEMS">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ITEM" maxOccurs = "1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ITEM">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "IT_PURCHASE_ID"/>
				<xsd:element ref = "IT_SKU"/>
				<xsd:element ref = "IT_QUANTITY"/>
				<xsd:element ref = "IT_UNIT_PRICE"/>
				<xsd:element ref = "IT_SUB_TOTAL"/>
				<xsd:element ref = "IT_VID"/>
				<xsd:element ref = "SPECIAL_INSTRUCTIONS" minOccurs = "0"/>
				<xsd:element ref = "IT_DESCRIPTION"/>
				<xsd:element ref = "PAGE_NUMBER" minOccurs = "0"/>
				<xsd:element ref = "IT_SOURCECODE" minOccurs = "0"/>
				<xsd:element ref = "IT_TAX" minOccurs = "0"/>
				<xsd:element ref = "IT_SHIPPING" minOccurs = "0"/>
				<xsd:element ref = "IT_TRACK_NO" minOccurs = "0"/>
				<xsd:element ref = "IT_EXTENDED_EXCISE_TAX" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "IT_PURCHASE_ID">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "IT_SKU">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "100"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "IT_DESCRIPTION">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "2500"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "IT_QUANTITY">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "IT_SOURCECODE">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "255"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "IT_UNIT_PRICE">
		<xsd:simpleType>
			<!-- $nn.nn -->
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "IT_TAX">
		<xsd:simpleType>
			<!-- $nn.nn -->
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "IT_SHIPPING">
		<xsd:simpleType>
			<!-- $nn.nn -->
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "IT_EXTENDED_EXCISE_TAX">
		<xsd:simpleType>
			<!-- $nn.nn -->
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "IT_SUB_TOTAL">
		<xsd:simpleType>
			<!-- $nn.nn -->
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "15"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "IT_VID">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "IT_TRACK_NO">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "PAGE_NUMBER">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "SPECIAL_INSTRUCTIONS">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "SPECIAL_INSTRUCTION" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "SPECIAL_INSTRUCTION">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "SI_TYPE"/>
				<xsd:element ref = "SI_PROMPT"/>
				<xsd:element ref = "SI_VALUE"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "SI_TYPE">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "25"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "SI_PROMPT">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "750"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "SI_VALUE">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "4500"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "MISCELLANEOUS">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "DISTRIBUTION_ID" minOccurs = "0"/>
				<xsd:element ref = "MERCHANT_SHOPPER_ID" minOccurs = "0"/>
				<xsd:element ref = "WEB_ID" minOccurs = "0"/>
				<xsd:element ref = "PC_ID" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "DISTRIBUTION_ID">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "25"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "MERCHANT_SHOPPER_ID">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "25"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "WEB_ID">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "7"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "PC_ID">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "7"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "AFFIL_ID">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "7"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>